<!DOCTYPE html>
<html>
  <head>
    <title>Shooting game</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
	<script src="/socket.io/socket.io.js"></script>
	<script src="/javascripts/jquery-1.8.0.min.js"></script>
	<script src="/javascripts/client.js"></script>
  </head>
  <body>
	<img src="/images/unit.png" class="player" id="my-player" />
	<img src="/images/bullet.png" class="bullet" id="my-bullet" />
  </body>
</html>