<!DOCTYPE html>
<html>
  <head>
    <title>GameOver</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
	<script src="/javascripts/jquery-1.8.0.min.js"></script>
  </head>
  <body>
    <h1>GameOver</h1>
    <a href="/">タイトルへ</a>
	<a href="/game">リスタート</a>
  </body>
</html>