<!DOCTYPE html>
<html>
  <head>
    <title>Shootingサンプル</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
	<script src="/javascripts/jquery-1.8.0.min.js"></script>
  </head>
  <body>
    <h1>Shootingサンプル</h1>
    <p><a href="/game">Start</a></p>
  </body>
</html>